# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Environment Secrets
.env
.env.*
!.env.example

# Databases
*.db
*.db-journal
*.sqlite3

# Logs & Data
logs/logs_data/
logs_data/

# Tests
.pytest_cache/
.coverage
htmlcov/

# System
.DS_Store
Thumbs.db
